.main {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  text-align: center;

  // @include centerer(50%, 50%, (-50%, -50%));

  &__header {
    position: sticky;
    top: 0;
		z-index: 10000;
		font-family: $font-serif;
  }

  &__navigation {
    background-color: $main-header-color;
  }

  &__content {
    // временный дизайн
    padding-left: 15px;
		padding-right: 15px;
		background-color: inherit;
		font-family: $font-sans-serif;
  }
	&__title {
		font-family: $font-serif;
  }

  &__l-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__footer {
    background-color: $main-footer-color;
    color: white;
		padding: 10px;
		margin: auto 0 0;
		font-family: $font-serif;

    .footer-text {
      margin: 0;
    }
  }
}