.action-buttons {
  margin: 30px 0;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0 10px 15px 0;
  }

  &__button {
    @include button(15px, 16px);
  }

  &__button:focus {
    box-shadow: 0 0 0 2px #D0D8F8;
  }
	&__button:hover {
    box-shadow: 2px 2px 5px -1px rgb(170, 173, 184);
  }
  &__button--disabled {
    background-color: #dddddd;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.9);
  }
}
