.modal {
    position: absolute;
    z-index: 10;
    // top: 10px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    border-radius: 10px;
  
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto;
  }
  
  &__input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 242px;
  
    color: #999999;
    font-size: 14px;
    line-height: 24px;
  
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    transition: box-shadow 0.25s ease-out;
    outline: none;
  }

  &__input:hover,
  &__input:focus {
    box-shadow: 0 0 0 2px #e4e434;
  }

  &__input--invalid {
    box-shadow: 0 0 0 2px #ff6f81;
  }

  &__error-message {
    @include error-message(-23px, 11px);
  }

  &__help {
    position: absolute;
    bottom: 17px;
    right: 20px;
  }

  &-help__link {
    padding: 0;
    color: #323232;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px solid rgba(50, 50, 50, 0.5);
    transition: color 0.25s ease-in, border-bottom 0.25s ease;
  }

  &-help__link:hover,
  &-help__link:focus,
  &-help__link:active {
    color: #e84d37;
    border-bottom: 1px solid rgba(232, 77, 55, 0.5);
    background: none;
  }

  &-help__text {
    margin: 0;
  }

  &__button {
    align-self: flex-start;

    @include button(10px, 14px);
  }

  &__button:focus {
    box-shadow: 0 0 0 2px #e4e434;
  }
}
