//здесь живут базовые стили для всей страницы, например шрифты или обнуления
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');
body {
  background-color: rgb(236, 235, 225);
}

.container {
	max-width: $max-width;
	display: flex; 
	flex-direction: column;
	height: 100%; 
  margin: 0 auto;
  background-color: white;
}
// раскомментировать позже!!

