//здесь живут базовые стили для всей страницы, например шрифты или обнуления

body {
  background-color: lightyellow;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  background-color: white;
}
// раскомментировать позже!!

