//Здесь живут миксины - кусочки повторяющегося кода для повторяющихся нужд.

@mixin visually-hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@mixin centerer($top: null, $left: null, $transform: null) {
  position: absolute;

  top: $top;
  left: $left;
  transform: translate($transform);
}

@mixin button(
  $padding,
  $font-size,
  $font-weight: 600,
  $text: uppercase,
	$background: #FFE440	
) {
	font-family: $font-sans-serif;
  padding: $padding;
  font-size: $font-size;
	border: none;
	border-radius: 5px;
  font-weight: $font-weight;
  text-transform: $text;
  background-color: $background;
}

@mixin error-message($top, $font-size, $font-weight: 400, $color: #f7334a) {
  display: inline-block;
  line-height: 28px;
  margin-top: $top;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}
