//Здесь у нас переменные и их списки, чтобы было проще ориентироваться

$colors-c: (
  default: #1698d9,
  default-hovered: #2ea8e6,
  selected: #d91667,
  selected-hovered: #e62e7a,
  disabled: #b3b3b3
);
