.slider {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: center;
  width: 95%; 
  min-height: 282px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;

  &__container {
    position: relative;
    width: 100%;
  }

  &__title {
  }

  &__adress {
    margin: 10px;
    padding: 5px;
    width: $slider-width;
    min-height: 250px; //я убрала фиксированную высоту, а то там длинный текст выпадал из контейнера.
		background-color: #D0D8F8;
		border-radius: 10px;
		transition: opacity 1s;
		font-size: 0.9rem;
  }

  &__name {
    color: #122EA1;
  }

  &__navi-adress {
    font-weight: bold;
  }

  &__point {
    color: grey;
  }

  &__description {
    background-color: azure;
  }

  &__postal_address {
  }

  &__date {
  }

  &__control {
    position: absolute;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    top: 50%;
    color: #ffffff;
    background-color: rgba(158, 157, 154, 0.3);
    font-weight: bold;
    font-size: 30px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
